@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #2571a3;
}
.container{
    padding: 40px;
    width: 40%;
    margin: 200px auto;
    border-radius: 15px;
    background-color: white;
}
#heading{
    color: gold;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}
.game{
    display: flex;
    justify-content: space-evenly;
}
img{
    width: 150px;
    height: 135px;
    border-radius: 50%;
    padding: 5px;
    border: 2px solid wheat;
}
.row{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.score{
    margin: 0px 5px;
}
.team-name, .score-board{
    margin-top: 10px;
}
.t1-name{
    color: rgb(243, 170, 34);
}
.t2-name{
    color: rgb(73, 73, 255);
}
.team-name{
    text-transform: uppercase;
    font-size: 20px;
}
.strike-btn{
    text-align: center;
    margin-top: 20px;
}
.btn{
    padding: 13px 60px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    background-image: linear-gradient(130deg, #2193b0,#6dd5ed);
}
.btn:hover{
    background-image: linear-gradient(130deg, #6dd5ed,#2193b0);
}
#result{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: rgb(7, 180, 7);
}